<section class="dashboard">
  <div class="container">
    <div class="top">
      <h2>Orion eSolutions Private Limited</h2>
      <h3>Dashboard</h3>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <app-weather-detail city="mohali"></app-weather-detail>
      </div>
      <div class="col-sm-6">
        <app-weather-detail city="chandigarh"></app-weather-detail></div>
      <div class="col-sm-6">
        <app-weather-detail city="ludhiana"></app-weather-detail></div>
      <div class="col-sm-6">
        <app-weather-detail city="jalandhar"></app-weather-detail></div>
    </div>
  </div>
</section>
